<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>myblog</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>sort</servlet-name>
  <servlet-class>com.myblog.servlet.SortServlet</servlet-class>
  </servlet>
<servlet-mapping>
    <servlet-name>sort</servlet-name>
    <url-pattern>/SortServlet</url-pattern>  
</servlet-mapping>
  <servlet>
  <servlet-name>article</servlet-name>
  <servlet-class>com.myblog.servlet.ArticleServlet</servlet-class>
  </servlet>
<servlet-mapping>
    <servlet-name>article</servlet-name>
    <url-pattern>/ArticleServlet</url-pattern>  
</servlet-mapping>
  <servlet>
  <servlet-name>addArticle</servlet-name>
  <servlet-class>com.myblog.servlet.AddArticleServlet</servlet-class>
  </servlet>
<servlet-mapping>
    <servlet-name>addArticle</servlet-name>
    <url-pattern>/AddArticleServlet</url-pattern>  
</servlet-mapping>
  <servlet>
  <servlet-name>OneArticle</servlet-name>
  <servlet-class>com.myblog.servlet.OnceArticleServlet</servlet-class>
  </servlet>
<servlet-mapping>
    <servlet-name>OneArticle</servlet-name>
    <url-pattern>/OnceArticleServlet</url-pattern>  
</servlet-mapping>
 <error-page>
    <error-code>404</error-code>
    <location>/</location>
</error-page>
</web-app>